html {
  background-image: url(img/voda-okean-oblaka.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    font-size: 20px;
    
}
.heading {
    width: 50%;
    margin: 30px auto;
    text-align: center;
    color: #6b8e23;
    background: #FFF8DC;
    border: 2px solid #6b8e23;
    border-radius: 20px;
}
form {
    width: 50%;
    margin: 30px auto;
    border-radius: 5px;
    padding: 10px;
    background: #FFF8DC;
    border: 1px solid #6b8e23;
}

form p {
    color: red;
    margin: 0px;
}
.task_input {
    width: 73%;
    height: 15px;
    padding: 10px;
    border: 2px solid #6b8e23;
}
.add_btn {
    height: 39px;
    background: #FFF8DC;
    color: #6b8e23;
    border-radius: 5px;
    padding: 5px 20px;
}

table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #cbcbcb;
}
th {
    font-size: 19px;
    color: #6b8e23;
    background: #FFF8DC;

}
th, td{
    border: none;
    height: 30px;
    padding: 2px;


}

tr:hover {
    background: #E9e9E9;
}
.task {
    text-align: left;
}

.delete {
    text-align: center;
}
.delete a{
    color: white;
    background: #a52a2a;
    padding: 1px 6px;
    border-radius: 3px;
    text-decoration: none;
}